GDAL==1.11.0
PIL==1.1.7
Pillow==2.6.1
PyInstaller==2.1
configparser==3.3.0r2
gnureadline==6.3.3
ipython==2.3.0
matplotlib==1.4.2
mercurial==3.0.2
mock==1.0.1
nose==1.3.4
numpy==1.9.1
pynsist==1.0
pyparsing==2.0.3
python-dateutil==2.2
pytz==2014.9
requests==2.4.3
six==1.8.0
wsgiref==0.1.2
